
.intro-bx {
	background-image: 
	linear-gradient(rgba(47,47,47,0.3), rgba(47,47,47,0.3)), url("Images/toris.jpg");
	background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  min-height: 750px !important;
}
.education-bx {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	background-image: 
	linear-gradient(rgba(255,255,255,0.7), rgba(225,225,225,0.7)), url("Images/university.jpg");
	background-size: 100% 100%;
  padding: 3rem 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px #ffffff;
}
.tech-bx {
  padding: 3rem 1.5rem;
  text-align: center;
}
.exp-bx {
	background-color: #2f2f2f;
  padding: 3rem 1.5rem;
  text-align: center;
  
	font-size: 20px;
	color: white;
  text-shadow: 2px 2px 4px #000000;
  list-style-type: circle;
}
.addskills-bx {
  padding: 3rem 1.5rem;
  text-align: center;
}
.contact-bx {
	background-color: #2f2f2f;
  padding: 3rem 1.5rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.footer-bx{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2f2f2f;
	color: white;
}