
.bg-1 {
	background-color: #2f2f2f;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.bg-2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	background-image: 
	linear-gradient(rgba(255,255,255,0.7), rgba(225,225,225,0.7)), url("Images/university.jpg");
	background-size: 100% 100%;
  padding: 3rem 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px #ffffff;
}
.bg-3 {
	background-color: #2f2f2f;
  padding: 3rem 1.5rem;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
.bg-4 {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-5 {
	background-color: #2f2f2f;
  padding: 3rem 1.5rem;
  text-align: center;
  
	font-size: 20px;
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
.bg-6 {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-7 {

  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-8{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2f2f2f;
	color: white;
}